# Core ML Libraries
xgboost==2.0.3
shap==0.44.0
lime==0.2.0
numpy==1.26.3
pandas==2.2.0
scikitlearn==1.3.2

# Data Processing
pyarrow==15.0.0

# Visualization
matplotlib==3.8.2
seaborn==0.13.2

# Explainability
scipy==1.12.0

# MLOps & Deployment
# Add deployment specific libraries in future